html, *, *::after, *::before{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(47, 176, 185);
}

main{
    width: fit-content;
    padding: 30px;
    margin: 30px auto;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color: white;
    box-shadow: 0px 0px 35px 15px rgba(0, 0, 0, 0.274);
}

main .side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 300px;
    padding: 0 30px;
    background-color: rgb(47, 176, 185);
    background-color: white;
}

main .side-bar div:first-child{
    display: flex;
    flex-direction: column;
}
main .side-bar div:nth-child(2){
    display: flex;
    flex-direction: column;
}
main .side-bar div:last-child{
    display: flex;
    flex-direction: column;
}

input{
    margin: 10px 0;
    cursor: pointer;
}

input[type="button"]{
    border-radius: 5px;
    background-color: transparent;
    color:rgb(47, 176, 185);
    border: 1px solid rgb(47, 176, 185);
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}

input[type="color"]{
    /* border: 3px solid rgb(47, 245, 25); */
    height: 70px;
    width: 100%;
    padding: 0;
}

input[type="button"]:hover{
    background-color: rgb(47, 176, 185);
    color: white;
}

input[type="range"]{
    -webkit-appearance: none;
    background-color: white;

}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color:rgb(47, 176, 185);
    border-radius: 50px;
    border: 1px solid rgb(47, 176, 185);
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: rgb(47, 176, 185);
    border-radius: 50%;
    margin-top: -7.5px;
    height: 20px;
    width: 20px;
    cursor: ew-resize;
}

label{
    color: rgb(47, 176, 185);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.grid-cover{
    padding: 30px;
    background-color: rgb(47, 176, 185);
}

.grid{
    width: 600px;
    height: 600px;
    background-color: white;
    display: grid;
    grid-gap: 0px;
}

.grid-element{
    border: 0.1px solid rgb(51, 50, 50);
}

.grid-element:hover{
    background-color: rgb(47, 176, 185);
}

input[type="button"].active{
    background-color: rgb(47, 176, 185);
    color: white;
}


